body {
  background-color: #343a40;
  color: white;
}

p {
  white-space: pre-line;
}

p strong {
  text-decoration: underline;
}

p span {
  color:#fbf559;
  font-weight: bold;
}

.main-img {
  max-width: 100%;
}

.bar-img {
  max-width: 100%;
}

.bar-div {
  position: relative;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fbf559 !important;
  text-shadow: 2px 2px 2px #636262;
  font-size: 3rem;
}

.map-link {
  font-weight: bold;
  color: #fbf559;
  text-decoration: underline;
}

.map-link:hover {
  color: #fbf559;
}

#navbar-brand {
  color: #fbf559;
}

.btn-search,
.btn-login {
  background-color: #343a40;
  color: #fbf559;
  border: 1px solid #fbf559;
}

.btn-search:hover,
.btn-login:hover {
  background-color: #fbf559;
  color: #343a40;
}
