html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #343a40;
  color: white;
  margin: 0 0 50px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.login,
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

p {
  white-space: pre-line;
}

p strong {
  text-decoration: underline;
}

p span {
  color: #fbf559;
  font-weight: lighter;
}

.main-img {
  max-width: 100%;
}

.bar-img {
  max-width: 100%;
}

.bar-img-sm {
  filter: brightness(50%);
}

.bar-title,
.fas {
  color: #fbf559;
}

.bar-div {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.site-desc,
.footer {
  font-size: 0.7rem;
  font-weight: lighter;
}

.bookmark:hover {
  zoom: 1.2;
}

.error-message {
  margin: 25% 0 24%;
  text-align: center;
  font-weight: lighter;
}

.bar-card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fbf559 !important;
  text-shadow: 2px 2px 2px #636262;
  font-size: 2.5rem;
  font-weight: lighter;
}

.map-link {
  font-weight: bold;
  /* color: #fbf559; */
  text-decoration: underline;
}

.map-link:hover {
  color: #fbf559;
}

#navbar-brand {
  color: #fbf559;
}

.btn-search,
.btn-login {
  background-color: #343a40;
  color: #fbf559;
  border: 1px solid #fbf559;
}

.btn-search:hover,
.btn-login:hover {
  background-color: #fbf559;
  color: #343a40;
}
